<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="#" />
</head>


<body>
  <h1><%= title %></h1>
  <%- include('header'); -%>

  <div>
    <p>Random user info fetching from <a href="https://randomuser.me/" target="_blank">Random User</a> and displaying.
    </p>

  </div>
  <footer><%- include('footer'); -%></footer>
</body>

</html>